page-camera {
    ion-header{
        background-color:red;
    }

    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card{
        box-shadow: none;
        background: rgba(199, 7, 7, 0.568);
        border-radius: 5px;
    }

    a, p,
    ion-card-header.card-header{
        color: #fff;
    }

    .list > .item-block:first-child{
        border: medium none;
    }

    .item{
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.5);
        border: medium none;

        .text-input{
            color: #fff;
        }

        *:-moz-placeholder{
            color: #fff!important;
        }

        *:-ms-input-placeholder{
            color: #fff!important;
        }
        
        *::-webkit-input-placeholder{
            color: #fff!important;
        }

        input::-moz-placeholder{
            color: #fff!important;
        }

        input:-moz-placeholder{
            color: #fff!important;
        }
    }
}
